/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fondo y fuente global */
  body {
    font-family: Lusitana
    ;
    background-color: #f4f4f4;
    color: #0c0c0c;
  }
  
  /* Contenedor principal */
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  